<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light " style="color:#c6e2ee!important;height: 110px!important;">
      <div class="container-fluid">
        
    <!-- logo -->
  <div class="row">
    <div class="col-1" style="height: 150px; align-items: center; justify-content: center;">
      <svg width="150" height="100%" class=""
      xmlns="http://www.w3.org/2000/svg">
      <image href="../../assets/Logo.svg" width="150" height="100%"/>
    </svg>
   
  </div>
</div>

<!-- button nav -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="color: black;"></span>
        </button>

<!-- header content -->
      <div class="row">
        <div class="col-12">
          <div class="collapse navbar-collapse  text-right" id="navbarNavAltMarkup">
          <div class="navbar-nav navs text-right" >
            <a class="nav-link active" aria-current="page" href="#">Story Of Success</a>
            <a class="nav-link" href="#" >Programs</a>
            <a class="nav-link" href="#">Admission Process</a>
            <a class="nav-link" href="#">About Us</a>
          </div>
          </div>
          </div>
        </div>

        
      </div>
  </nav>
    
</header>

<!-- end header -->
