@font-face {
  font-family: 'speedkingsregular';
   src:
       url('../../assets/speedkings_free-webfont.woff') format('woff');
  font-weight: normal;
  font-style: bold;

}
  
.navbar-light a{
  justify-content: space-between;
  color:#16234f!important;
  font-size: 27px!important;
  margin-left: 7px;
  float: right!important;
  align-items:flex-start!important;
  font-weight: 600!important;
  letter-spacing: 0.1rem!important;
  font-family: 'speedkingsregular';
  font-style: bold;
  text-transform: uppercase;
}
.navbar-light a:hover{
  
  color: #fbb821!important;
  text-decoration: none;
  
}
.navbar-nav a:active{
  
  color: #fbb821;
  
}

@media only screen and (max-width: 576px){
  .container-fluid{
   top: 5px!important;
  }
  .navbar-toggler{
      color: #16234f!important;
      border:1px solid #16234f!important;
      top:4px
  }
  .navbar-toggler-icon{
      color:#02182f!important;
      align-self: flex-end;
  }}
  @media only screen and (max-width: 992px) {
    .container-fluid{
        top: 5px!important;
       }
       .navbar-toggler{
           color: #16234f!important;
           border:1px solid #16234f!important;
           top:4px
       }
       .top{
        margin-top: -10px;
    }
       .navbar-toggler-icon{
           color:#02182f!important;
       }}