<section class="footer">
    <footer class="footer">
    <div class="container-fluid">
    <div class="row">
    
 <div class="col-6">
      <embed src="../../assets/Logo.svg" style="width:20% ;height: 20%;margin-top:10px; margin-left: 30%;" >
        <form class="row g-3 y-2" style="margin-left: 15px;box-sizing: border-box;">
    
          <div class="col-6">
            <input type="email" class="form-control" id="inputEmail4" placeholder="First Name">
          </div>
    
          <div class="col-6">
            <input type="password" class="form-control" id="inputPassword4" placeholder="Last Name">
          </div>
    
          <br/>
          <div class="col-12">
            <input type="text" class="form-control" id="inputAddress" placeholder="Email">
          </div>
    
          <br/>
          <div class="col-12">
            <input type="text" class="form-control" id="inputAddress2" placeholder="Message">
          </div>
    
          <br/>
         
          <div class="col-12">
            <button type="submit" class="btn justify-content-center btns">Sign in</button>
          </div>
        </form>
       
    </div> 
    <div class="col-6 text-center">
          <h2 class="text-center" style="color: #02182f;margin-left: 10px">
            follow us
            <i class="fa fa-instagram" style="color: #02182f;;margin-right: 10px;font-size: 20px;"></i>
            <i class="fa fa-facebook" style="color: #02182f;margin-right: 10px;font-size: 20px;"></i>
    
          </h2>
      <p class="text-center" style="color: #02182f;margin-left: 10px;direction: ltr;font-size: 20px;"> <i class="fa fa-phone" style="color: #02182f;;margin-right: 10px;font-size: 20px;"></i>: + 02 2567 345 678</p>
    
          <p style="color: #02182f;font-weight: 600;font-family: sans-serif;font-size: 12px;"><span style="font-weight: 600;font-size: 15px;">Address:</span>10el-Obour Buildings,Salah Salem
          <br>
          ,Road,Heliopolis,Cairo Governorate 
          </p>
    
    
    </div>
    </div>
    </div>
    </footer>
    </section>