<section class="programs">
    <div class="container">
      <div class="row">
            <div class="col-12">
              <h2 class="text-center programs" style="font-size: 50px;">PROGRAMS</h2>
          </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="text-center article" >IFA academy provides different programs thoughout our season our programs are 
          <br/>
          aimed at creating one of a kind experiences for players to create football
          <br/>
          developmental and personal growth during their time with us please check below 
          <br/>
          to learn all about our options and which is the best fit for you
        </p>
      </div>
    </div>
  </div>


  <div class="container text-center">
    <div class="row ">
        <div class="col-12 cateigies">
          <embed src="../../assets/programs/Group 9 copy.svg" style="width: 100%;height: 100%;">
        </div>
      </div>
    </div>
</section>

<section>
    <div class="container ">
      <div class="row">
        <div class="cards d-flex justify-content-center">

          <div class="col-3">
            <div class="card1">
              <img src="../../assets/programs/board1.svg" class="card-img-top" alt="card details">
              <p class="text-center">Football Hids</p>
          </div>
         </div>


          <div class="col-3">
            <div class="card1">
              <img src="../../assets/programs/board2.svg" class="card-img-top" alt="card details">
              <p class="text-center">Football Girl</p>
            </div>
          </div>


          <div class="col-3">
            <div class="card1">
              <img src="../../assets/programs/board3.svg" class="card-img-top" alt="card details">
              <p class="text-center">Football Junior</p>
          </div>
          </div>


          <div class="col-3">
            <div class="card1">
              <img src="../../assets/programs/board4.svg" class="card-img-top" alt="card details">
              <p class="text-center" >Football Camps</p>
          </div>
        </div>


        </div>
      </div>
    </div>
  </section>
