@font-face {
    font-family: 'speedkingsregular';
     src:url('../../assets/speedkings_free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: bold;
  
  }
    
.article{
    font-size: 20px;
    letter-spacing: 0.1rem;
    font-weight: 400;
    font-family: sans-serif;

}
.cateigies{
    color:#fbb821;
    list-style: none!important;
    font-size: 20px;
    font-family: sans-serif;
    padding-top: 20px;

   
}
.cateigies ul li{
   
    padding-bottom: 40px;

}
.text-center{
    color: #fff;

}
.programs{
    font-family: 'speedkingsregular';
}
.card{
    border-radius: 50px 50px 7px 9px;
    top: 2px;
    width: 15rem;
    height: 5rem!important;
}
.cards{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 100px;
    font-family: 'speedkingsregular';

}
.card1{
    
    width: 15rem;
    background-repeat: no-repeat;
}
.card1 p{
    position: absolute;
    color: #fff !important;
    top: 10px;font-size: 30px;
    text-align: center;
    padding-left:20%;
}
@media only screen and (max-width: 576px){

    .article{
        font-size: 15px;
        line-height: 2;
        font-family: sans-serif;
       }
       .card1{
        padding-top: 15px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -25%;
        padding-top: 20px;
    }
   
}
@media only screen and (max-width:992px){
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 25%;
    }
}
