<section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 sponser">
        <div class="row">
        <div class="col-8">
        <h2 class="text-center" style="font-size:60px;padding-top: 25px;">SPONSER</h2>
        <br/>
      </div>
  
  
      <div class="col-9">
        <div class="sponser-img"> 
          <span class="arrow"><i class="fa fa-arrow-left"></i></span>
        <embed src="../../assets/sponser/CV Academy.svg" >
        <embed src="../../assets/sponser/ifx-logo.svg" >
        <embed src="../../assets/sponser/Rush-Spain-SPF.svg" >
        <embed src="../../assets/sponser/WakefieldAFC.svg" >
        
        <span class="arrow"><i class="fa fa-arrow-right"></i></span>
        </div>
      </div>
            </div>
        </div>
      </div>
      </div>
    </section>