@font-face {
    font-family: 'speedkingsregular';
     src:url('../../assets/speedkings_free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: bold;
  
  }
.sponser-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgba(228, 241, 254, 0.6) ;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    margin-left: 15px;
    
}
.text-center{
    color: #fff;
    font-family: 'speedkingsregular';
}
.sponser{
    background-image: url("../../assets/sponser/Layer\ 17.png");
    height:280px;
}
.arrow{
    color: #fff;
    font-size:50px ;
}
.sponser-img img{
    border-radius:25px;width: 100px;height: 90px;
}

@media only screen and (max-width: 992px){}
@media only screen and (max-width: 576px){

    .sponser{
        background-image: url("../../assets/sponser/Layer\ 17.png");
        height:297px;
        width: 200px;
    }
    .sponser-img img{
        border-radius:25px;width: 60px;height: 40px;
    }
}