@font-face {
    font-family: 'speedkingsregular';
     src:
         url('../../assets/speedkings_free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: bold;
  
  }
.clip-path{
    clip-path: polygon(57% 0, 100% 0, 100% 100%, 40% 100%);
    
    background-color: rgba(0,0,0,0.5);  
    position: absolute;
    top: 110px;
    right: 0;
    height: 94.5%;
    width: 71%;
    color: #fff;
    justify-content: center;
}
.container-fluid{
    padding-left: 0px!important;
    padding-right: 0px!important;
    width: 100%!important;
    overflow-x: hidden;
}
.panner{
    font-family: 'speedkingsregular';
}

.pragraph h2{
    font-size: 50px;
    word-spacing: 1rem;
    padding-left: 20%;
}
.pragraph p{
    font-size: 20px;
    font-family: sans-serif;
    word-spacing: 0.5rem;
    padding-left: 10%;
}
.pragraph{
    position: absolute;
    color:white;
    float: right;
   width: 50%;
    padding-top: 3%;
}
.football{
    margin-top:0
}
.icon{
    padding-top: 10%;
}
.icon p{
    font-size: 12px !important;;
    color: #fbb821;
    word-spacing: 0.1rem!important;
}
.icon embed{
    padding-left: 90px!important;
}
.IFAImage{
    /* width:900px; */
    width: 70%;
    height: auto;
    object-fit: content;
    object-position: right;
    float: right;
    
}
body{
    
    font-family: 'speedkingsregular';
    background-color:rgba(2,24,47);
    box-sizing: border-box;
}
.img{
    width: 100% !important;;
    height:60%;
    /* */
    
    
    /* background-image: url(../football/real\ estate.png); */
    
}
.top{
    margin-top: -150px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
@media only screen and (max-width: 576px){

    .clip-path{
        clip-path: polygon(57% 0, 100% 0, 100% 100%, 40% 100%);
        background-color: rgba(0,0,0,0.5);  
        position: absolute;
        top: 100px;
        right: 0;
        height: 35.9%;
        width: 186%;
    }
    .top{
        margin-top: -10px;
    }
    .img{
        width:100%;
        height:100%;
        }
}
@media only screen and (max-width: 992px) {
    .clip-path{
        clip-path: polygon(57% 0, 100% 0, 100% 100%, 40% 100%);
        background-color: rgba(0,0,0,0.5);  
        position: absolute;
        top: 100px;
        right: 0;
        height: 35.9%;
        width: 186%;
    }
    .top{
        margin-top: -10px;
    }

}



