<section>
    <embed src="../../assets/banner/back ground.svg" class="img top">
    <!-- <div class="container-fluid" style="min-height: 100%!important;"> -->
      <!-- <p style="color: #fbb821;position: absolute;">hello</p> -->
      
       <div class="clip-path" id="svgPath">
      </div>
    <!-- </div> -->
   </section>
   <section class="football">
    
    <div class="container-fluid" >
      <div class="colum" style="width: 40%;">
        <div class="pragraph">
          <h2 class="text-center panner" >STORY OF SUCCESS</h2>
          <p class="text-center">IFA academy provides different programs thoughout our season our programs are 
            aimed at creating one of a kind experiences for players to create football
            developmental and personal growth during their time with us please check below 
            to learn all about our options and which is the best fit for you</p>
            <div class="container ">
              <div class="row">
                   <div class="col-4 icon">
                   <embed src="../../assets/banner/icon FOOTBALL DEVELOPMENT.svg">
                   <br/>
                   <p class="text-center">FOOTBALL DEVELOPMENT</p>
                   </div>
                   <div class="col-4 icon">
                     <embed src="../../assets/banner/icon BOARDING SCHOOL.svg">
                     <br/>
                   <p class="text-center">BOARDING SCHOOL</p>
                   </div>
                   <div class="col-4 icon">
                     <embed src="../../assets/banner/icon personal development.svg" class="text-centetr">
                     <br/>
                   <p class="text-center">PERSONAL DEVELOPMENT</p>
                   </div>
                </div>
              </div>
             </div>
      </div>
      <div class="colum" style="width: 60%;">
        <img src="../../assets/banner/football photo.png" class=" IFAImage" style="width: 100%;" >
         
      </div>
     
  </div>
</section>