.container-fluid{
    padding-left: 0px!important;
    padding-right: 0px!important;
    width: 100%!important;
    overflow-x: hidden;
}
.football{
    margin-top:0
}
body{
    
    font-family: 'speedkingsregular';
    background-color:rgba(2,24,47);
    box-sizing: border-box;
}