/* You can add global styles to this file, and also import other style files */
body{
    
    font-family: 'speedkingsregular';
    background-color:rgba(2,24,47);
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #16234f!important;
}


@font-face {
    font-family: 'speedkingsregular';
     src:url('../src/assets/speedkings_free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: bold;
  
  }
    
.container-fluid{
    padding-left: 0px!important;
    padding-right: 0px!important;
    width: 100%!important;
    overflow-x: hidden;
}

