<section>
    <div class="container-fluid" style="margin-top: 50px;background-color: #fff;width: 100%;color: #02182f!important;">
     <div class="row">
       <div class="col-3">
         <img src="../../assets/admission/gif.gif" width="300" height="300" style="margin-left: -100px;padding-top: 20px;" class="gif">
             </div>
       <div class="col-9">
         <div class="row">
      
           <div class="col-12">
           <h2 class="text-center head">ADMISSION PROCESS</h2> 
        </div>
        </div>
        <div class="row list" >
          <div class="d-flex justify-content-center numbers">
 
          <div class="col-md-3 col-sm-12 text">
          <embed src="../../assets/admission/1.svg">
           <h2 class="">CONTACT</h2>
           <p  >We can only enrol a limited number of players per season register for a trail as early as possible</p>
         </div>
 
 
          <div class="col-md-3 col-sm-12 text">
            
           <embed src="../../assets/admission/2.svg">
             <h2 class="">tRAIL</h2>
             <p >Candidates must participate in trail or a one week program at egypt</p>
            
           </div>
 
 
         <div class="col-md-3 col-sm-12 text">
           <embed src="../../assets/admission/3.svg">
             <h2 class=""> ENROLLMENT</h2>
             <p style="word-spacing: 0.5rem;">The admission decision will be notified within 48 hours after the trail</p>
         </div>
 
 
         <div class="col-md-3 col-sm-12 text">
           <embed src="../../assets/admission/4.svg">
             <h2 class=""> DEPOSITPAYMENT </h2>
             <p style="word-spacing: 0.5rem;;">After the deposit payment is completed you will be sent official documents to prepare your start as a egypt player</p>
         </div>
 
 
         
       </div>
        </div>
     <div class="row ">
       <div class="col-12 d-flex justify-content-center">
           <a href="#" class="btn btn-primary btn-lg" role="button" aria-disabled="true" style="margin-bottom: 10px;margin-right:50px;">More Info.</a>
       </div>
     </div>    
      </div> 
     
     </div>
   </div>

 </section>