@font-face {
    font-family: 'speedkingsregular';
     src:url('../../assets/speedkings_free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: bold;
  
  }
.head{
    color: #02182f;font-weight: 500;font-size: 50px;justify-content: center
    ;font-family: 'speedkingsregular';
}
.text h2{
    color: #02182f;font-weight: 500;font-family: 'speedkingsregular';
}
.btn-primary{
    background-color:#02182f ;
    color: #fbb821;
    font-family: sans-serif;
    border: 1px solid #02182f;
    align-items: center;
    border-radius: 50px 50px 50px 50px;
}
.btn-primary:hover{
    background-color: #fbb821;
    color:#02182f;
    border: 1px solid #fbb821;
}
.list p{
    font-family: sans-serif;
    color:#16234f;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
}
.numbers{
   
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text h2{
    color: #02182f;font-weight: 500;
}
.btns{
    color: #02182f;
    background-color: #fbb821;
}
.text p{
    word-spacing: 0.5rem;
}
@media only screen and (max-width: 557px) {

    .head{
        margin-right: 60px;
        font-size: 30px;
    }
    .numbers{
        
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        margin-right: 25px;
    }
    .numbers h2{
       
        justify-content: center;
    }
}
@media screen and ( max-width:992px) {
    .numbers{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}